<style type="text/css">
    div.business-block {
        height: 30em;
        background-color: #e7eff6;
        display: table;
        width: 100%;
    }

    div.business-block .header {
        font-size: 2.2em;
    }
    div.business-block .content {
        width: 80%;
        padding-top: 1em;
        font-size: 1.05em;
    }
    div.business-block  > div:nth-child(2) {
        padding: 5em 0em 0 0em;
        display: table-cell;
        vertical-align: top;
    }

    div.business-block  > div:nth-child(1) button {
        margin-top: .8em;
    }

    div.business-block  > div:nth-child(1) {
        padding: 8em 0em 0 3em;
        display: table-cell;
        vertical-align: top;
        width: 65%;
    }

    div.business-block  > div.image {
        width: 35%;
        position: relative;
    }

    div.business-block  > div.image > img {
        position: absolute;
        /* left: 0; */
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    div.business-block .buy-block {
        display: table;
        width: 100%;
        padding-top: 9em;
    }

    div.business-block .buy-block > * {
        display: table-cell;
    }
</style>
<div data-rcategory="<%= rCategory %>" class="business-block">
    <!--    <div data-rcategory="<%= rCategory %>">
            <div>Концентрат на 5 флаконов</div>
            <div class="cost"> <% if (rAccessory) { %> <%= rAccessory.attributes.fPrice %> руб. <em> <% if
                (rAccessory.attributes.fVolume >= 1000) { %> <%= rAccessory.attributes.fVolume/1000 %> Л <% } else { %> <%=
                rAccessory.attributes.fVolume %> мл <% } %> </em> <% } else {''} %>
            </div>
            <span class="buy">            <span class="add">Купить</span>            <span class="on">В корзине</span>         </span>
        </div>-->
    <div data-rcategory="<%= rCategory %>" class="">
        <div class="header"> <%= name %></div>
        <div class="content"> <%= descr %></div>
        <!--        <div class="buttons">
                    <button class="">Инструкция и состав</button>
                </div>-->
        <div class="buy-block">
            <!--<div>Продукт готовый <br>к применению</div>-->
            <div class="cost"> <%= fPrice %> руб. <em> <% if (fVolume >= 1000) { %> <%= fVolume/1000 %> Л <% } else { %>
                <%=
                fVolume %> мл <% } %> </em></div>
            <span class="buy">            <span class="add">Купить</span>            <span class="on">В корзине</span>        </span>
        </div>
    </div>
    <div class="image">
        <img src="<%= filebg %>" alt="">
    </div>
</div>