<style>
    div.green-drop {
        background: url("<%= filebg %>") center right no-repeat;
        background-size: cover;
        height: 49.5rem;
        padding: 6rem 1rem 0rem 3rem;
    }

    div.green-drop > div:nth-child(1) {
        padding: 0 0 0 10rem;
    }

    div.green-drop > .buy {
        margin-top: .5rem;
    }

    div.green-drop .header {
        font-size: 2rem;
        padding-top: 2.4rem;
    }

    div.green-drop .content {
        padding: 2rem 9rem 0 0;
        font-size: 1.05rem;
    }

    div.green-drop .buttons {
        padding-top: 3rem;
    }

    div.green-drop .buttons > button:first-child {
        margin-right: 1rem;
    }
</style>
<div data-rcategory="<%= rCategory %>" class="green-drop">
    <div data-rcategory="<%= rCategory %>">
        <div class="cost">
            <%= fPrice %> руб.
            <em>
                <% if (fVolume >= 1000) { %>
                <%= fVolume/1000 %> Л
                <% } else { %>
                <%= fVolume %> мл
                <% } %>
            </em>
        </div>
        <span class="buy">
    <span class="add">Купить</span>
    <span class="on">В корзине</span>
</span>
    </div>

    <div class="header">
        <%= descr %>
    </div>
    <div class="content">
        <%= sProperties %>
    </div>
    <div class="buttons">
        <button>Инструкция и состав</button>
    </div>
</div>