<style>    div.bright {
    background: url("<%= filebg %>") no-repeat;
    background-size: cover;
    height: 42rem;
    padding: 4rem 2rem 1rem 19.5rem;
}

div.bright .header {
    font-size: 2.2rem;
    padding-top: 3rem;
}

div.bright .content {
    padding: 1rem 0 0 0;
    font-size: 1.05rem;
}

div.bright .buttons {
    padding-top: 2rem;
}

div.bright .buttons > button:first-child {
    margin-right: 1rem;
}

div.bright > div:nth-child(1) {
    padding: 4rem 0 0 4.5rem;
}</style>
<div data-rcategory="<%= rCategory %>" class="bright">
    <div data-rcategory="<%= rCategory %>">
        <div class="cost"> <%= fPrice %> руб. <em> <% if (fVolume >= 1000) { %> <%= fVolume/1000 %> Л <% } else { %> <%=
            fVolume %> мл <% } %> </em></div>
        <span class="buy">
            <span class="add">Купить</span>
            <span class="on">В корзине</span>
        </span>
    </div>
    <div class="header"> <%= descr %></div>
    <div class="content"> <%= sProperties %></div>
    <div class="buttons">
        <button>Инструкция и состав</button>

    </div>
</div>