<style>
    div.hot {
        background: url("<%= filebg %>") no-repeat;
        background-size: cover;
        height: 44rem;
        padding: 0rem 2rem 1rem 19rem;
    }
    div.hot .header {
        font-size: 2.2rem;
        padding-top: 2rem;
    }
    div.hot .content {
        padding: 2rem 0rem 0 0;
        font-size: 1.05rem;
    }
    div.hot .buttons {
        padding-top: 4rem;
    }
    div.hot .buttons > button:first-child {
        margin-right: 1rem;
    }
    div.hot > div:nth-child(4) {
        padding: 4rem 0 0 0;
    }
    div.hot > div:nth-child(4) > div {
        font-size: 1.4rem;
    }
    div.hot > div:nth-child(4) > div > rem {
        font-size: .7rem;
        font-style: normal;
    }
    div.hot > div:nth-child(4) button {
        font-weight: bold;
        margin-top: .7rem;
    }
</style>
<div data-rcategory="<%= rCategory %>" class="hot">
    <div data-rcategory="<%= rCategory %>" class="header">
        <%=descr %>
    </div>
    <div class="content">
        <%=sProperties %>
    </div>
    <div class="buttons">
        <button class="black">Инструкция и состав</button>
    </div>
    <div>
        <div class="cost">
            <%=fPrice %> руб. <em>                <% if (fVolume >= 1000) { %>                <%= fVolume/1000 %> Л                <% } else { %>                <%= fVolume %> мл                <% } %>            </em> </div> <span class="buy">   <span class="add">Купить</span> <span class="on">В корзине</span></span>
    </div>
</div>