<style type="text/css">
    div.neat {
        background: url("<%= filebg %>") no-repeat;
        background-size: cover;
        height: 43.8rem;
    }

    div.neat > div:nth-child(1) {
        padding: 9.5rem 0 0 74rem;
    }

    div.neat > div:nth-child(1) > div:nth-child(2) {
        font-weight: bold;
        font-size: 1.3rem;
        padding-top: .5rem;
    }

    div.neat > div:nth-child(1) button {
        margin-top: .8rem;
    }

    div.neat > div:nth-child(2) {
        padding: 0 48rem 0 20.5rem;
        margin-top: -1rem;
    }

    div.neat > div:nth-child(2) .header {
        font-size: 2.2rem;
    }

    div.neat > div:nth-child(2) .content {
        padding-top: 2.1rem;
        font-size: 1.05rem;
    }

    div.neat > div:nth-child(2) .buttons {
        padding-top: 3rem;
    }

    div.neat > div:nth-child(2) .buttons > button:first-child {
        margin-right: 1rem;
    }
</style>
<div data-rcategory="<%= rCategory %>"  class="neat">
    <div data-rcategory="<%= rCategory %>">
        <div class="cost">
            <%= fPrice %> руб.
            <em>
                <% if (fVolume >= 1000) { %>
                <%= fVolume/1000 %> Л
                <% } else { %>
                <%= fVolume %> мл
                <% } %>
            </em>
        </div>
        <span class="buy">
    <span class="add">Купить</span>
    <span class="on">В корзине</span>
</span>
    </div>
    <div>
        <div class="header">
            <%= descr %>
        </div>
        <div class="content">
            <%= sProperties %>
        </div>
        <div class="buttons">
            <button>Инструкция и состав</button>

        </div>
    </div>
</div>