<style type="text/css">
    div.skin-repair {
        background: url("<%= filebg %>") no-repeat 0 0;
        background-size: cover;
        height: 40rem;
    }

    div.skin-repair > div:nth-child(2) {
        padding: 0rem 0 0 63rem;
    }

    div.skin-repair > div:nth-child(2) > div:nth-child(2) {
        font-weight: bold;
        font-size: 1.3rem;
        padding-top: .5rem;
    }

    div.skin-repair > div:nth-child(1) button {
        margin-top: .8rem;
    }

    div.skin-repair > div:nth-child(1) {
        padding: 7rem 26rem 0 36rem;
    }

    div.skin-repair > div:nth-child(1) .header {
        font-size: 2.2rem;
        width: 15rem;
    }

    div.skin-repair > div:nth-child(1) .content {
        padding-top: 2.1rem;
        font-size: 1.05rem;
    }

    div.skin-repair > div:nth-child(1) .buttons {
        padding-top: 3rem;
    }

    div.skin-repair > div:nth-child(1) .buttons > button:first-child {
        margin-right: 1rem;
    }
</style>
<div data-rcategory="<%= rCategory %>" class="skin-repair">
    <div data-rcategory="<%= rCategory %>" class="">
        <div class="header">
            <%= descr %>
        </div>
        <div class="content">
            <%= sProperties %>
        </div>
        <div class="buttons">
            <button class="">Инструкция и состав</button>
        </div>
    </div>
    <div class="">
        <div class="cost">
            <%= fPrice %> руб.
            <em>
                <% if (fVolume >= 1000) { %>
                <%= fVolume/1000 %> Л
                <% } else { %>
                <%= fVolume %> мл
                <% } %>
            </em>
        </div>
        <span class="buy">
            <span class="add">Купить</span>
            <span class="on">В корзине</span>
        </span>
    </div>
</div>