<style type="text/css">
    div.water-stabilizer {
        background: url("<%= filebg %>") no-repeat;
        background-size: cover;
        height: 46.3rem;
    }

    div.water-stabilizer > div:nth-child(2) {
        padding: 3rem 0 0 43rem;
    }

    div.water-stabilizer > div:nth-child(2) > div:nth-child(2) {
        font-weight: bold;
        font-size: 1.3rem;
        padding-top: .5rem;
    }

    div.water-stabilizer > div:nth-child(1) button {
        margin-top: .8rem;
    }

    div.water-stabilizer > div:nth-child(1) {
        padding: 8rem 23rem 0 43rem;
    }

    div.water-stabilizer > div:nth-child(1) .header {
        font-size: 2.2rem;
    }

    div.water-stabilizer > div:nth-child(1) .content {
        padding-top: 2.1rem;
        font-size: 1.05rem;
    }

    div.water-stabilizer > div:nth-child(1) .buttons {
        padding-top: 3rem;
    }

    div.water-stabilizer > div:nth-child(1) .buttons > button:first-child {
        margin-right: 1rem;
    }
</style>
<div data-rcategory="<%= rCategory %>" class="water-stabilizer">
    <div data-rcategory="<%= rCategory %>" class="">
        <div class="header">
            <%= descr %>
        </div>
        <div class="content">
            <%= sProperties %>
        </div>
        <div class="buttons">
            <button class="">Инструкция и состав</button>
        </div>
    </div>
    <div class="">
        <div class="cost">
            <%= fPrice %> руб.
            <em>
                <% if (fVolume >= 1000) { %>
                <%= fVolume/1000 %> Л
                <% } else { %>
                <%= fVolume %> мл
                <% } %>
            </em>
        </div>
        <span class="buy">
            <span class="add">Купить</span>
            <span class="on">В корзине</span>
        </span>
    </div>
</div>