<style>    div.fresh {
    background: url("<%= filebg %>") no-repeat;
    background-size: cover;
    height: 42rem;
    padding: 6rem 2rem 1rem 19rem;
}

div.fresh .header {
    font-size: 2.2rem;
    padding-top: .5rem;
}

div.fresh .content {
    padding: 1.8rem 0rem 0 0;
    font-size: 1.05rem;
}

div.fresh .buttons {
    padding-top: 3rem;
}

div.fresh .buttons > button:first-child {
    margin-right: 1rem;
}

div.fresh > div.shiping {
    padding: 2rem 0 0 0;
}

div.fresh > div.shiping > div {
    font-size: 1.4rem;
}

div.fresh > div.shiping > div > rem {
    font-size: .7rem;
    font-style: normal;
}

div.fresh > div.shiping button {
    font-weight: bold;
    margin-top: .7rem;
}</style>
<div data-rcategory="<%= rCategory %>" class="fresh">
    <div data-rcategory="<%= rCategory %>" class="header"> <%= descr %></div>
    <div class="content"> <%= sProperties %></div>
    <div class="buttons">
        <button>Инструкция и состав</button>
    </div>
    <div class="shiping">
        <div class="cost"> <%= fPrice %> руб. <em> <% if (fVolume >= 1000) { %> <%= fVolume/1000 %> Л <% } else { %> <%=
            fVolume %> мл <% } %> </em></div>
        <span class="buy">  <span class="add">Купить</span> <span class="on">В корзине</span></span></div>
</div>