<style type="text/css">    div.chief {
    display: table;
    background: url("<%= filebg %>") no-repeat;
    background-size: cover;
    height: 37rem;
}

div.chief > div {
    display: table-cell;
    height: 100%;
    vertical-align: top;
}

div.chief > div:nth-child(1) {
    padding: 9.5rem 0 0 25.5rem;
    width: 35%;
}

div.chief > div:nth-child(1) > div:first-child {
    font-size: 1rem;
}

div.chief > div:nth-child(1) > div:nth-child(2) {
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: .5rem;
}

div.chief > div:nth-child(1) button {
    margin-top: .8rem;
}

div.chief > div:nth-child(2) {
    padding: 22.5rem 0 0 3.5rem;
    width: 15%;
}

div.chief > div:nth-child(2) > div:first-child {
    font-size: 1rem;
}

div.chief > div:nth-child(2) > div:nth-child(2) {
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: .5rem;
}

div.chief > div:nth-child(2) > div:nth-child(2) > rem {
    font-size: .7rem;
    font-style: normal;
}

div.chief > div:nth-child(2) button {
    margin-top: .8rem;
}

div.chief > div:nth-child(3) {
    width: 50%;
    padding: 9.5rem 11rem 0 6rem;
}

div.chief > div:nth-child(3) .header {
    font-size: 2.2rem;
    padding-right: 1rem;
}

div.chief > div:nth-child(3) .content {
    padding-top: 2.1rem;
    font-size: 1.05rem;
}

div.chief > div:nth-child(3) .buttons {
    padding-top: 3rem;
}

div.chief > div:nth-child(3) .buttons > button:first-child {
    margin-right: 1rem;
}</style>
<div data-rcategory="<%= rCategory %>" class="chief">
    <div>
        <div>Продукт готовый<br> к применению</div>
        <div class="cost"> <%= fPrice %> руб. <em> <% if (fVolume >= 1000) { %> <%= fVolume/1000 %> Л <% } else { %> <%=
            fVolume %> мл <% } %> </em></div>
        <span class="buy">Купить</span></div>
    <div data-rcategory="<%= rCategory %>">
        <div>Концентрат на 5 флаконов</div>
        <div class="cost"><%= rAccessory.attributes.fPrice %> руб.</div>
        <span class="buy">            <span class="add">Купить</span>            <span class="on">В корзине</span>         </span>
    </div>
    <div>
        <div class="header"> <%= descr %></div>
        <div class="content"> <%= sProperties %></div>
        <div class="buttons">
            <button>Инструкция и состав</button>
        </div>
    </div>
</div>