<style>
    div.tidy {
        background: url("<%= filebg %>") no-repeat;
        background-size: cover;
        height: 44rem;
        padding: 7rem 2rem 1rem 18rem;
    }

    div.tidy .header {
        font-size: 2.2rem;
        padding-top: 3rem;
    }

    div.tidy .content {
        padding: 1rem 0rem 0 0;
        font-size: 1.05rem;
    }

    div.tidy .buttons {
        padding-top: 2.5rem;
    }

    div.tidy .buttons > button:first-child {
        margin-right: 1rem;
    }

    div.tidy > div:nth-child(1) {

    }

    div.tidy > div:nth-child(1) > div {
        font-size: 1.4rem;
    }

    div.tidy > div:nth-child(1) > div > rem {
        font-size: .7rem;
        font-style: normal;
    }

    div.tidy > div:nth-child(1) button {
        font-weight: bold;
        margin-top: .7rem;
    }
</style>
<div data-rcategory="<%= rCategory %>" class="tidy">
    <div data-rcategory="<%= rCategory %>">
        <div class="cost">
            <%= fPrice %> руб.
            <em>
                <% if (fVolume >= 1000) { %>
                <%= fVolume/1000 %> Л
                <% } else { %>
                <%= fVolume %> мл
                <% } %>
            </em>
        </div>
        <span class="buy">
    <span class="add">Купить</span>
    <span class="on">В корзине</span>
</span>
    </div>

    <div class="header">
        <%= descr %>
    </div>
    <div class="content">
        <%= sProperties %>
    </div>
    <div class="buttons">
        <button>Инструкция и состав</button>

    </div>
</div>