<style type="text/css">
    div.sure {
        display: table;
        background: url("<%= filebg %>") no-repeat;
        background-size: cover;
        height: 41rem;
        overflow: hidden;
    }
    div.sure > div {
        display: table-cell;
        height: 100%;
        vertical-align: top;
    }
    div.sure > div:nth-child(1) {
        width: 40%;
        padding: 10rem 4rem 0 5rem;
    }
    div.sure > div:nth-child(1) .header {
        font-size: 2.2rem;
    }
    div.sure > div:nth-child(1) .content {
        padding-top: 2.1rem;
        font-size: 1.05rem;
    }
    div.sure > div:nth-child(1) .buttons {
        padding-top: 3rem;
    }
    div.sure > div:nth-child(1) .buttons > button:first-child {
        margin-right: 1.8rem;
    }
    div.sure > div:nth-child(2) {
        padding: 15rem 10rem 0 9rem;
        width: 30%;
    }
    div.sure > div:nth-child(2) > div:first-child {
        font-size: 1rem;
    }
    div.sure > div:nth-child(2) > div:nth-child(2) {
        padding-top: .5rem;
    }
    div.sure > div:nth-child(2) > div:nth-child(2) > rem {
        padding-left: .5rem;
    }
    div.sure > div:nth-child(3) {
        padding: 15rem 8rem 0 9.5rem;
        width: 30%;
    }
    div.sure > div:nth-child(3) > div:first-child {
        font-size: 1rem;
    }
    div.sure > div:nth-child(3) > div:nth-child(2) {
        padding-top: .5rem;
    }
</style>
<div data-rcategory="<%= rCategory %>" class="sure">
    <div data-rcategory="<%= rCategory %>">
        <div class="header">
            <%=descr %>
        </div>
        <div class="content">
            <%=sProperties %>
        </div>
        <div class="buttons">
            <button class="">Инструкция и состав</button>
        </div>
    </div>
    <div>
        <div>Продукт готовый
            <br> к применению</div>
        <div class="cost">
            <%=fPrice %> руб. <em> <% if (fVolume >= 1000) { %> <%= fVolume/1000 %> Л <% } else { %> <%=            fVolume %> мл <% } %> </em>
        </div> <span class="buy">            <span class="add">Купить</span> <span class="on">В корзине</span> </span>
    </div>
    <div data-rcategory="<%= rCategory %>">
        <div>Концентрат на 5 флаконов</div>
        <div class="cost">
            <%=rAccessory.attributes.fPrice %> руб.</div> <span class="buy">            <span class="add">Купить</span> <span class="on">В корзине</span> </span>
    </div>
</div>