<style>    div.gloss {
    background: url("<%= filebg %>") no-repeat;
    background-size: cover;
    height: 42rem;
    padding: 4rem 2rem 1rem 4.5rem;
}

div.gloss > div:nth-child(1) {
    padding: .2rem 0 0 13rem;
}

div.gloss div:nth-child(1) > section {
    display: inline-block;
    width: 9rem;
    vertical-align: top;
}

div.gloss > div:nth-child(1) > section > div:first-child {
    font-size: 1rem;
}

div.gloss > div:nth-child(1) > section > div.cost {
    padding-top: .5rem;
}

div.gloss > div:nth-child(1) > section + section {
    padding-left: 5rem;
    width:20rem;
    vertical-align: top;
}

div.gloss > div:nth-child(1) > section button {
    font-weight: bold;
    margin-top: .5rem;
}

div.gloss .header {
    font-size: 2.2rem;
    padding: 2.2rem 6rem 0 0;
    width: 80%;
}

div.gloss .content {
    padding: 1rem 17rem 0 0;
    font-size: 1.05rem;
}

div.gloss .buttons {
    padding-top: 2rem;
}

div.gloss .buttons > button:first-child {
    margin-right: 1rem;
}</style>
<div class="gloss text-white">
    <div data-rcategory="<%= rCategory %>">
        <section data-rcategory="<%= rCategory %>">
            <div>Концентрат на 5 флаконов</div>
            <div class="cost"><%= rAccessory.attributes.fPrice %> руб.</div>
            <span class="buy">            <span class="add">Купить</span>            <span class="on">В корзине</span>         </span>
        </section>
        <section>
            <div>Продукт готовый<br> к применению</div>
            <div class="cost"> <%= fPrice %> руб. <em> <% if (fVolume >= 1000) { %> <%= fVolume/1000 %> Л <% } else { %>
                <%= fVolume %> мл <% } %> </em></div>
            <span class="buy">  <span class="add">Купить</span> <span class="on">В корзине</span></span></section>
    </div>
    <div class="header"> <%= descr %></div>
    <div class="content"> <%= sProperties %></div>
    <div class="buttons">
        <button class="white">Инструкция и состав</button>
    </div>
</div>