<style>
    div.smart {
        background: url("<%= filebg %>") no-repeat;
        background-size: cover;
        height: 42.8rem;
        padding: 6rem 2rem 1rem 5rem;
    }

    div.smart .header {
        font-size: 2.2rem;
        padding-top: 1rem;
    }

    div.smart .content {
        padding: 1.8rem 14rem 0 0;
        font-size: 1.05rem;
    }

    div.smart .buttons {
        padding-top: 3rem;
    }

    div.smart .buttons > button:first-child {
        margin-right: 1rem;
    }

    div.smart > div.shiping {
        padding: 3rem 0rem 0;
    }

    div.smart > div.shiping > div {
        font-size: 1.4rem;
    }

    div.smart > div.shiping > div > em {
        font-size: .7rem;
        font-style: normal;
    }

    div.smart > div.shiping button {
        font-weight: bold;
        margin-top: .7rem;
    }
</style>
<div data-rcategory="<%= rCategory %>" class="smart">
    <div data-rcategory="<%= rCategory %>" class="header">
        <%= descr %>
    </div>
    <div class="content">
        <%= sProperties %>
    </div>
    <div class="buttons">
        <button>Инструкция и состав</button>

    </div>
    <div class="shiping">
        <div class="cost">
            <%= fPrice %> руб.
            <em>
                <% if (fVolume >= 1000) { %>
                <%= fVolume/1000 %> Л
                <% } else { %>
                <%= fVolume %> мл
                <% } %>
            </em>
        </div>
        <span class="buy">
	<span class="add">Купить</span>
	<span class="on">В корзине</span>
</span>
    </div>
</div>