<style type="text/css">
    div.prime {
        display: table;
        background: url("<%= filebg %>") no-repeat;
        background-size: cover;
        height: 35rem;
    }
    div.prime > div {
        display: table-cell;
        height: 100%;
        vertical-align: top;
    }
    div.prime > div:nth-child(1) {
        padding: 12rem 4rem 0 9rem;
        width: 25%;
    }
    div.prime > div:nth-child(1) > div:first-child {
        font-size: 1rem;
    }
    div.prime > div:nth-child(1) > div:nth-child(2) {
        font-weight: bold;
        font-size: 1.3rem;
        padding-top: .5rem;
    }
    div.prime > div:nth-child(2) {
        padding: 12rem 0 0 15.5rem;
        width: 25%;
    }
    div.prime > div:nth-child(2) > div:first-child {
        font-size: 1rem;
    }
    div.prime > div:nth-child(2) > div.cost {
        padding-top: .5rem;
    }
    div.prime > div:nth-child(2) button {
        margin-top: .8rem;
    }
    div.prime > div:nth-child(3) {
        width: 50%;
        padding: 6.5rem 7rem 0 10rem;
    }
    div.prime > div:nth-child(3) .header {
        font-size: 2.2rem;
    }
    div.prime > div:nth-child(3) .content {
        padding-top: 2.1rem;
        font-size: 1.05rem;
    }
    div.prime > div:nth-child(3) .buttons {
        padding-top: 2rem;
    }
    div.prime > div:nth-child(3) .buttons > button:first-child {
        margin-right: 1rem;
    }
</style>
<div data-rcategory="<%= rCategory %>" class="prime">
    <div data-rcategory="<%= rCategory %>">
        <div>Концентрат на 5 флаконов</div>
        <div class="cost">
            <%=rAccessory.attributes.fPrice %> руб.</div> <span class="buy">            <span class="add">Купить</span> <span class="on">В корзине</span> </span>
    </div>
    <div>
        <div>Продукт готовый
            <br>к применению</div>
        <div class="cost">
            <%=fPrice %> руб. <em> <% if (fVolume >= 1000) { %> <%= fVolume/1000 %> Л <% } else { %> <%=            fVolume %> мл <% } %> </em>
        </div> <span class="buy">Купить</span>
    </div>
    <div>
        <div data-rcategory="<%= rCategory %>" class="header">
            <%=descr %>
        </div>
        <div class="content">
            <%=sProperties %>
        </div>
        <div class="buttons">
            <button>Инструкция и состав</button>
        </div>
    </div>
</div>