<style>
    div.base {
        background: url("<%= filebg %>") no-repeat;
        background-size: cover;
        height: 55rem;
        width: 100%;
        padding: 15.5rem 18rem 1rem 3.3rem;
    }
    div.base .header {
        font-size: 2.2rem;
    }
    div.base .content {
        padding: 2rem 1rem 0 0;
        font-size: 1.05rem;
    }
    div.base .buttons {
        padding-top: 3rem;
    }
    div.base .buttons > button:first-child {
        margin-right: 1rem;
    }
    div.base > div:nth-child(4) {
        padding: 4rem 0 0 18rem;
    }
    div.base > div:nth-child(4) > div {
        font-size: 1.4rem;
    }
    div.base > div:nth-child(4) > div > rem {
        font-size: .7rem;
        font-style: normal;
    }
    div.base > div:nth-child(4) button {
        font-weight: bold;
        margin-top: .5rem;
    }
</style>
<div class="base">
    <div data-rcategory="<%= rCategory %>" class="header">
        <%=descr %>
    </div>
    <div class="content">
        <%=sProperties %>
    </div>
    <div class="buttons">
        <button>Инструкция и состав</button>
    </div>
    <div>
        <div class="cost">
            <%=fPrice %> руб. <rem> <% if (fVolume >= 1000) { %> <%= fVolume/1000 %> Л <% } else { %> <%=            fVolume %> мл <% } %> </rem>
        </div> <span class="buy">            <span class="add">Купить</span> <span class="on">В корзине</span> </span>
    </div>
</div>