<style type="text/css">
    div.shower-gel {
        background: url("<%= filebg %>") no-repeat;
        background-size: cover;
        height: 44.5rem;
    }
    div.shower-gel > div:nth-child(2) {
        padding: 2rem 0 0 66rem;
    }
    div.shower-gel > div:nth-child(2) > div:nth-child(2) {
        font-weight: bold;
        font-size: 1.3rem!important;
        padding-top: .5rem;
    }
    div.shower-gel > div:nth-child(1) button {
        margin-top: .8rem;
    }
    div.shower-gel > div:nth-child(1) {
        padding: 13rem 24rem 0 43.5rem;
    }
    div.shower-gel > div:nth-child(1) .header {
        font-size: 2.2rem;
    }
    div.shower-gel > div:nth-child(1) .content {
        padding-top: 2.1rem;
        font-size: 1.05rem;
    }
    div.shower-gel > div:nth-child(1) .buttons {
        padding-top: 3rem;
    }
    div.shower-gel > div:nth-child(1) .buttons > button:first-child {
        margin-right: 1rem;
    }
</style>
<div data-rcategory="<%= rCategory %>" class="shower-gel">
    <div class="text-white">
        <div class="header">
            <%=descr %>
        </div>
        <div class="content">
            <%=sProperties %>
        </div>
        <div class="buttons">
            <button class="white">Инструкция и состав</button>
        </div>
            <div class="cost">
            <%=fPrice %> руб. <em>                <% if (fVolume >= 1000) { %>                <%= fVolume/1000 %> Л                <% } else { %>                <%= fVolume %> мл                <% } %>            </em> </div> <span class="buy">            <span class="add">Купить</span> <span class="on">В корзине</span> </span>
    </div>

    

</div>