<style type="text/css">
    div.cage-cleaner  {
        background: url("<%= filebg %>") no-repeat;
        background-size: cover;
        height: 41.4rem;
    }

    div.cage-cleaner  > div:nth-child(2) {
        padding: 6rem 0 0 27rem;
        display: inline-block;
        vertical-align: top;
        width: 39rem;
    }

    div.cage-cleaner  > div:nth-child(2) > div:nth-child(2) {
        padding-top: .5rem;
    }

    div.cage-cleaner  > div:nth-child(1) button {
        margin-top: .8rem;
    }

    div.cage-cleaner  > div:nth-child(1) {
        padding: 9rem 0rem 0 7rem;
        width: 59%;
        display: inline-block;
    }

    div.cage-cleaner  > div:nth-child(1) .header {
        font-size: 2.2rem;
    }

    div.cage-cleaner  > div:nth-child(1) .content {
        padding-top: 2.1rem;
        font-size: 1.05rem;
        padding-right: 35rem;
    }

    div.cage-cleaner  > div:nth-child(1) .buttons {
        padding-top: 3rem;
    }

    div.cage-cleaner  > div:nth-child(1) .buttons > button:first-child {
        margin-right: 1rem;
    }
    div.cage-cleaner  > div:nth-child(1) > div:nth-child(4){
        display: inline-block;
        float: right;
        margin:-10rem;
    }
</style>
<div data-rcategory="<%= rCategory %>"  class="cage-cleaner ">
    <div data-rcategory="<%= rCategory %>" class="">
        <div data-rcategory="<%= rCategory %>"  class="header">
            <%= descr %>
        </div>
        <div class="content">
            <%= sProperties %>
        </div>
        <div class="buttons">
            <button class="">Инструкция и состав</button>
        </div>
        <div class="">
            <div>Продукт готовый <br>к применению</div>
            <div class="cost">
                <%= fPrice %> руб.
                <em>
                    <% if (fVolume >= 1000) { %>
                    <%= fVolume/1000 %> Л
                    <% } else { %>
                    <%= fVolume %> мл
                    <% } %>
                </em>
            </div>
        <span class="buy">
            <span class="add">Купить</span>
            <span class="on">В корзине</span>
        </span>
        </div>
    </div>

    <div data-rcategory="<%= rCategory %>">
        <div>Концентрат на 5 флаконов</div>
        <div class="cost"> <% if (rAccessory) { %> <%= rAccessory.attributes.fPrice %> руб. <rem> <% if
            (rAccessory.attributes.fVolume >= 1000) { %> <%= rAccessory.attributes.fVolume/1000 %> Л <% } else { %> <%=
            rAccessory.attributes.fVolume %> мл <% } %> </rem> <% } else {''} %>
        </div>
        <span class="buy">            <span class="add">Купить</span>            <span class="on">В корзине</span>         </span>
    </div>
</div>