<style type="text/css">    div.bloom {
    background: url("<%= filebg %>") no-repeat;
    background-size: cover;
    height: 46.7rem;
}

div.bloom > div:nth-child(1) {
    padding: 7.5rem 0 0 56rem;
}

div.bloom > div:nth-child(1) > div:nth-child(2) {
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: .5rem;
}

div.bloom > div:nth-child(1) button {
    margin-top: .8rem;
}

div.bloom > div:nth-child(2) {
    padding: 3rem 16rem 0 56rem;
}

div.bloom > div:nth-child(2) .header {
    font-size: 2.2rem;
}

div.bloom > div:nth-child(2) .content {
    padding-top: 2.1rem;
    font-size: 1.05rem;
}

div.bloom > div:nth-child(2) .buttons {
    padding-top: 3rem;
}

div.bloom > div:nth-child(2) .buttons > button:first-child {
    margin-right: 1rem;
}</style>

<div data-rcategory="<%= rCategory %>" class="bloom">
    <div data-rcategory="<%= rCategory %>">
        <div class="cost"> <%= fPrice %> руб. <em> <% if (fVolume >= 1000) { %> <%= fVolume/1000 %> Л <% } else { %> <%=
            fVolume %> мл <% } %> </em></div>
        <span class="buy">  <span class="add">Купить</span> <span class="on">В корзине</span></span></div>
    <div class="text-white">
        <div class="header"> <%= descr %></div>
        <div class="content"> <%= sProperties %></div>
        <div class="buttons">
            <button class="white">Инструкция и состав</button>
        </div>
    </div>
</div>