<style type="text/css">
    div.stain-remover {
        background: url("<%= filebg %>") no-repeat;
        background-size: cover;
        height: 46.4rem;
        display: table;
        width: 100%;
    }
    div.stain-remover > div:nth-child(2) {
        padding: 8rem 25rem 0 18rem;
        display: table-cell;
        vertical-align: top;
    }
    div.stain-remover > div:nth-child(1) button {
        margin-top: .8rem;
    }
    div.stain-remover > div:nth-child(1) {
        padding: 13rem 3rem 0 4rem;
        display: table-cell;
        vertical-align: top;
        width: 20%;
    }
    div.stain-remover > div:nth-child(2) .header {
        font-size: 2.2rem;
    }
    div.stain-remover > div:nth-child(2) .content {
        padding-top: 2.1rem;
        font-size: 1.05rem;
    }
    div.stain-remover > div:nth-child(2) .buttons {
        padding-top: 3rem;
    }
    div.stain-remover > div:nth-child(2) .buttons > button:first-child {
        margin-right: 1rem;
    }
    div.stain-remover > div:nth-child(2) .buy-block {
        padding: 3rem 0 0;
    }
</style>
<div data-rcategory="<%= rCategory %>" class="stain-remover ">
    <div data-rcategory="<%= rCategory %>">
        <div>Концентрат на 5 флаконов</div>
        <div class="cost">
            <% if (rAccessory) { %>
                <%=rAccessory.attributes.fPrice %> руб. <em> <% if            (rAccessory.attributes.fVolume >= 1000) { %> <%= rAccessory.attributes.fVolume/1000 %> Л <% } else { %> <%=            rAccessory.attributes.fVolume %> мл <% } %> </em>
                    <% } else { ''} %>
        </div> <span class="buy">            <span class="add">Купить</span> <span class="on">В корзине</span> </span>
    </div>
    <div data-rcategory="<%= rCategory %>" class="">
        <div class="header">
            <%=descr %>
        </div>
        <div class="content">
            <%=sProperties %>
        </div>
        <div class="buttons">
            <button class="">Инструкция и состав</button>
        </div>
        <div class="buy-block">
            <div>Продукт готовый
                <br>к применению</div>
            <div class="cost">
                <%=fPrice %> руб. <em> <% if (fVolume >= 1000) { %> <%= fVolume/1000 %> Л <% } else { %> <%=                fVolume %> мл <% } %> </em>
            </div> <span class="buy">            <span class="add">Купить</span> <span class="on">В корзине</span> </span>
        </div>
    </div>
</div>