<style type="text/css">
    div.hygienic-cleaner {
        background: url("<%= filebg %>") no-repeat;
        background-size: cover;
        height: 39.4rem;
    }

    div.hygienic-cleaner  > div:nth-child(2) {
        display: inline-block;
        padding: 5rem 0 0 27rem;
        vertical-align: top;
        width: 42rem;
    }

    div.hygienic-cleaner  > div:nth-child(2) > div:nth-child(2) {
        font-weight: bold;
        font-size: 1.3rem;
        padding-top: .5rem;
    }

    div.hygienic-cleaner  > div:nth-child(1) button {
        margin-top: .8rem;
    }

    div.hygienic-cleaner  > div:nth-child(1) {
        padding: 10rem 1rem 6rem 23rem;
        display: inline-block;
        width: 57%;
    }

    div.hygienic-cleaner  > div:nth-child(1) .header {
        font-size: 2.2rem;
    }

    div.hygienic-cleaner  > div:nth-child(1) .content {
        padding-top: 2.1rem;
        font-size: 1.05rem;
    }

    div.hygienic-cleaner  > div:nth-child(1) .buttons {
        padding-top: 3rem;
    }

    div.hygienic-cleaner  > div:nth-child(1) .buttons > button:first-child {
        margin-right: 1rem;
    }
    div.hygienic-cleaner  > div:nth-child(1) div:nth-child(4) {
        float: right;
        margin-right: -10rem;
        margin-top: -8rem;
    }
</style>
<div data-rcategory="<%= rCategory %>" class="hygienic-cleaner">
    <div data-rcategory="<%= rCategory %>" class="">
        <div class="header">
            <%= descr %>
        </div>
        <div class="content">
            <%= sProperties %>
        </div>
        <div class="buttons">
            <button class="">Инструкция и состав</button>
        </div>
        <div class="">
            <div>Продукт готовый <br>к применению</div>
            <div class="cost">
                <%= fPrice %> руб.
                <em>
                    <% if (fVolume >= 1000) { %>
                    <%= fVolume/1000 %> Л
                    <% } else { %>
                    <%= fVolume %> мл
                    <% } %>
                </em>
            </div>
            <span class="buy">
                <span class="add">Купить</span>
                <span class="on">В корзине</span>
            </span>
        </div>
    </div>
    <div data-rcategory="<%= rCategory %>">
        <div>Концентрат на 5 флаконов</div>
        <div class="cost"> <% if (rAccessory) { %> <%= rAccessory.attributes.fPrice %> руб. <em> <% if
            (rAccessory.attributes.fVolume >= 1000) { %> <%= rAccessory.attributes.fVolume/1000 %> Л <% } else { %> <%=
            rAccessory.attributes.fVolume %> мл <% } %> </em> <% } else {''} %>
        </div>
        <span class="buy">            <span class="add">Купить</span>            <span class="on">В корзине</span>         </span>
    </div>
</div>