<style>
    div.crisp {
        background: url("<%= filebg %>") no-repeat;
        background-size: cover;
        height: 49.5rem;
        padding: 4rem 1rem 0rem 4rem;
    }
    div.crisp > div:nth-child(1) {
        padding: .2rem 1rem 0 5.5rem;
    }
    div.crisp div:nth-child(1) > section {
        display: inline-block;
        width: 11rem;
    }
    div.crisp > div:nth-child(1) > section > div:first-child {
        font-size: 1rem;
    }
    div.crisp > div:nth-child(1) > section > div.cost {
        padding-top: .5rem;
    }
    div.crisp > div:nth-child(1) > section + section {
        float: right;
    }
    div.crisp > div:nth-child(1) > section button {
        font-weight: bold;
        margin-top: .5rem;
    }
    div.crisp .header {
        font-size: 2.2rem;
        padding-top: 1rem;
        padding-right: 4rem;
    }
    div.crisp .content {
        padding: 2rem 6rem 0 0;
        font-size: 1.05rem;
    }
    div.crisp .buttons {
        padding-top: 3rem;
    }
    div.crisp .buttons > button:first-child {
        margin-right: 1rem;
    }
</style>
<div data-rcategory="<%= rCategory %>" class="crisp">
    <div data-rcategory="<%= rCategory %>">
        <section data-rcategory="<%= rCategory %>">
            <div>Концентрат на 5 флаконов</div>
            <div class="cost">
                <% if (rAccessory) { %>
                    <%=rAccessory.attributes.fPrice %> руб. <em> <% if                (rAccessory.attributes.fVolume >= 1000) { %> <%= rAccessory.attributes.fVolume/1000 %> Л <% } else { %> <%=                rAccessory.attributes.fVolume %> мл <% } %> </em>
                        <% } else { ''} %>
            </div> <span class="buy">Купить</span>
        </section>
        <section>
            <div>Продукт готовый
                <br> к применению</div>
            <div class="cost">
                <%=fPrice %> руб. <em> <% if (fVolume >= 1000) { %> <%= fVolume/1000 %> Л <% } else { %>                <%= fVolume %> мл <% } %> </em>
            </div> <span class="buy">   <span class="add">Купить</span> <span class="on">В корзине</span></span>
        </section>
    </div>
    <div class="header">
        <%=descr %>
    </div>
    <div class="content">
        <%=sProperties %>
    </div>
    <div class="buttons">
        <button>Инструкция и состав</button>
    </div>
</div>